
.bg-orange{
  background-color: #FF6F3C;
}

.bg-light-orange{
  background-color: #FFC93C;
}

.bg-dark-orange{
  background-color: #FF6F3C;
}

.btn-light-orange{
  background-color: #FFC93C;
  border-color: #FFC93C;
}

.btn-mid-orange{
  background-color: #FF9A3C;
  border-color: #FF9A3C;
}

.btn-dark-orange{
  background-color: #FF6F3C;
  border-color: #FF6F3C;
}

.toast-bottom-right {
  position: fixed;
  bottom: 0px;
  right: 0px;
}
