<div class="container abc">
  <footer>
    <p class="text-center text-muted">
      <a href="#" class="nav-link px-2 text-muted">Home</a>
      <a href="#" class="nav-link slash">/</a>
      <a href="#" class="nav-link px-2 text-muted">Features</a>
      <a href="#" class="nav-link slash">/</a>
      <a href="#" class="nav-link px-2 text-muted">Pricing</a>
      <a href="#" class="nav-link slash">/</a>
      <a href="#" class="nav-link px-2 text-muted">FAQs</a>
      <a href="#" class="nav-link slash">/</a>
      <a href="#" class="nav-link px-2 text-muted">About</a>
      <a href="#" class="nav-link slash">/</a>
      <a href="#" class="nav-link px-2 text-muted">© 2021 Company, Inc</a>
    </p>
  </footer>
</div>
