

.bg-orange{
  background-color: #FF6F3C;
}

.bg-light-orange{
  background-color: #FFC93C;
}

.btn-light-orange{
  background-color: #FFC93C;
  border-color: #FFC93C;
}

.btn-mid-orange{
  background-color: #FF9A3C;
  border-color: #FF9A3C;
  color: white;
}

.btn-dark-orange{
  background-color: #FF6F3C;
  border-color: #FF6F3C;
}
